<div id="wrap">
	<header id="intro-line" class="intro-block bg-color2 dark-bg fixed-bg half-padding bgimgindexpost1">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="title"><strong>Poster un article </strong></h2>
				</div>
			</div>
		</div>
	</header>
</div><!-- /#wrap -->


<div id="wrap">
	<div class="container">
		<div class="containerid">
			<%= render 'form' %>
		</div>
	</div>
</div><!-- /#wrap -->