<div id="wrap">
	<!-- INTRO VIDEO BACKGROUND -->
	<header id="intro-video-background" class="backgroundimghome intro-block text-center bg-color1 dark-bg double-padding" >
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="slogan">
						<h1 class="giant-title"><strong>Hotel Book</strong></h1>
						<p>Premier reseau hôtelier au maroc.<br>
							Mieux connaîte vos sources pour une meilleure productivité.</p>
					</div>
					<%= link_to "Accés membres" ,new_user_session_path, class: "btn btn-lg btn-primary" %>
					<%= link_to "Contactez nous" ,contact_path, class: "btn btn-lg btn-success" %>
				</div>
			</div>
		</div>
	</header>
</div><!-- /#wrap -->